// styles applied on :host are applied on the current component, "app" in this case
:host { display: block; }
.vg-paper-item-link { text-decoration: none; color: inherit; }
.drawer-contents { height: 100%; overflow-y: auto; }
